Source: ros-jade-urdf-tutorial
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-roslaunch
Homepage: http://ros.org/wiki/urdf_tutorial
Standards-Version: 3.9.2

Package: ros-jade-urdf-tutorial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-controller-manager, ros-jade-diff-drive-controller, ros-jade-gazebo-ros, ros-jade-gazebo-ros-control, ros-jade-joint-state-controller, ros-jade-joint-state-publisher, ros-jade-position-controllers, ros-jade-robot-state-publisher, ros-jade-rqt-robot-steering, ros-jade-rviz, ros-jade-urdf, ros-jade-xacro
Description: This package contains a number of URDF tutorials.
